{{#each checkboxes as |checkbox|}}
  {{#if hasBlock}}
    {{yield checkbox.label checkbox.isSelected}}
  {{else}}
      <label>
        {{input type="checkbox" checked=checkbox.isSelected disabled=disabled}}
        <span></span>
        {{checkbox.label}}
      </label>
  {{/if}}
{{/each}}
